:root{
    --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* position: fixed; /* Set the menu bar to fixed position */
    top: 0; /* Position the menu bar at the top of the page */
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.left, .right{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.right{

}

.menu_elem{
    margin: 10px;
}

.menu-logo{
    height: 40px;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: all 2.0s;
}

img:hover{
    transform: rotate(360deg);
}


/* Add button container*/
.container {
    max-width: var(--container-width);
    padding: var(--spacing-lg);
    margin: 0 auto;
    text-align: center;
    margin-top: var(--spacing-lg);
}

.btn {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: filter 0.15s ease-in-out;
  }
  
  .btn:hover {
    filter: brightness(90%);
  }
  
  .btn-add {
    font-size: 24px;
    font-weight: 600;
  }



/* MODALS */

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
  }
  